/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/*login style*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .Home form {
        width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

.Home label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

 .Home input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="textarea"],
input[type="datetime-local"],
select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
}
.Home button[type="submit"] {
    background-color: #1abc9c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    .Home button[type="submit"]:hover {
        background-color: #16a085;
    }

    .Home a {
        color: #1abc9c;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

        .Home a:hover {
            color: #16a085;
        }




.Role{
   all:unset;
}
.Regist form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease-in-out;
}



.worker {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
/*Style for progect form */
.Project{
    background-color:lightblue;
}
    .Project form {
        width:100%;
        background-color: lightblue;
        border-radius:unset;
        box-shadow:unset;
    }

    .Project input[type="text"],
    input[type="textarea"] :focus {
        outline-color: aqua;
    }
    .Project input[type="textarea"] {
        background-color: white;
        min-height: 100px;
        outline-color: aqua;
    }

.Project button[type="submit"] {
    background-color:aqua;
}

    .Project button[type="submit"]:hover {
        background-color: aquamarine;
    }

/*Style for Task form */
.TaskF {
    background-color: aquamarine;
    display:block;
}
    .TaskF form {
        display: block;
        width: 100%;
        background-color: aquamarine;
        border-radius: unset;
        box-shadow: unset;
    }

    .TaskF input[type="text"],
    input[type="textarea"],
    input[type="datetime-local"],
    select:focus {
        outline-color: chartreuse;
        
    }

    .TaskF input[type="text"],
    input[type="textarea"],
    input[type="datetime-local"],
    select {
        text-align: center;
        background-color: white;
        margin: 15px;
    }
.TaskF input[type="textarea"] {
    margin: 15px;
    text-align: center;
}
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    max-height: 300px;
    min-height: 100%;
    outline-color: chartreuse;
}
.Task {
    display: flex;
    
}
.Task-2 {
    display: flex;
    flex-direction: column;
}

.ReportContainer {
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 6px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.dividingLine {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    border: none;
    margin: 8px 0;
}
.Report {
    overflow-x:auto;
    margin-left: 10px;
    font-size: 16px;
    color: #333;
    white-space: pre-wrap;
    background-color: #f0f0f0;
}
.ReportF {
    all: unset;
    background-color: #f0f0f0;
}
.Percent {
    padding:0px;
    margin:0px;
    color: forestgreen;
    transition: width 0.8s ease-in-out;
}
.InLine{
    display:inline-block;
}
.flex-around{
    display:flex;
    justify-content:space-around;
    
}
.flex-between {
    display: flex;
    justify-content: space-between
}
.flex {
    display: flex;
}
.NormalForm{
    width:30%;
}
.ReportsContainer {
    max-height:350px;
    overflow-y:auto;
}
.scale {
    border: 5px solid forestgreen;
}